{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;{% static 'assets/img/avatars/image.png' %}&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">{{ titulo }}</h4>
                            </div>
                            <form class="user" method="POST" enctype="multipart/form-data">
                                <div class="row mb-3">
                                    {% csrf_token %}
    
                                    {{ form|crispy }}
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-7">

                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-primary d-block btn-user w-10">
                                            salvar <i class="fa fa-save"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html">Esqueceu a palavra-passe?</a></div>
                            <div class="text-center"><a class="small" href="{% url 'login' %}">Já possui uma conta? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>