{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">{{titulo}}</h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-xl-12 mb-4">
            <form method="post">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <span class="lead">
                            Tem a certeza que deseja excluir <strong>{{ object }}</strong> ???
                        </span>
                            <div class="mb-3">
                                {% csrf_token %}
                
                                {{ form|crispy }}
                                <hr>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary d-block btn-user w-10">
                    excluir registro <i class="fa fa-trash"></i>
                </button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}
