{% extends 'index.html' %}
{% load static %}

{% block conteudo %}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">{{ usuario.nome }}</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12 col-xl-12 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <table class="table table-striped table-hover table-condesed" id="tabela">
                            <thead>
                                <tr>
                                    <th>PRODUTO</th>
                                    <th>DATA DE VALIDADE</th>
                                    <th>Medição</th>
                                    <th>PREÇO</th>
                                    <th>Parcerias Disponiveis</th>
                                    <th>Criar Parceria</th>
                                </tr>
                            </thead>
{% if request.user.is_authenticated %}
                            <tbody>
                                {% for produtos in object_list %}
                                <tr>
                                    <td>{{ produtos.nome }}</td>
                                    <td>{{ produtos.data_validade }}</td>
                                    <td>{{ produtos.grama_litro }}</td>
                                    <td>{{ produtos.preco }} kz</td>
                                    <td> 
                                        <a href="{% url 'parceria-disponiveis1' produtos.pk %}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Parcerias Disponíveis de 2">
                                            <i class="fa fa-eye"></i> 2
                                        </a>
                                        <a href="{% url 'parceria-disponiveis2' produtos.pk %}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Parcerias  Disponíveis de 3">
                                            <i class="fa fa-eye"></i> 3
                                        </a>
                                        <a href="{% url 'parceria-disponiveis3' produtos.pk %}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Parcerias  Disponíveis de 4">
                                            <i class="fa fa-eye"></i> 4
                                        </a>
                                    </td> 
                                            <td> 

                                        <a href="{% url 'cadastrar-parceria1' produtos.pk %}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Adicionar Parceria de 2">
                                            <i class="fa fa-plus"></i> 2
                                        </a>
                                        <a href="{% url 'cadastrar-parceria2' produtos.pk %}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Adicionar Parceriade 3">
                                            <i class="fa fa-plus"></i> 3
                                        </a> 
                                        <a href="{% url 'cadastrar-parceria3' produtos.pk %}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Adicionar Parceria de 4">
                                            <i class="fa fa-plus"></i> 4
                                        </a>   
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>
                                        Sem conteúdo.
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
{% else %}
<tbody>
    {% for produtos in object_list %}
    <tr>
        <td>{{ produtos.nome }}</td>
        <td>{{ produtos.data_validade }}</td>
        <td>{{ produtos.grama_litro }}</td>
        <td>{{ produtos.preco }} kz</td>
        <td> 
            <a href="{% url 'parceria-disponiveis1' produtos.pk %}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Parcerias Disponíveis de 2">
                <i class="fa fa-eye"></i> 2
            </a>
            <a href="{% url 'parceria-disponiveis2' produtos.pk %}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Parcerias  Disponíveis de 3">
                <i class="fa fa-eye"></i> 3
            </a>
            <a href="{% url 'parceria-disponiveis3' produtos.pk %}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Parcerias  Disponíveis de 4">
                <i class="fa fa-eye"></i> 4
            </a>  
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>
            Sem conteúdo.
        </td>
    </tr>
</tbody>
{% endfor %}
{% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
<br>
{% endblock %}